* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.imagebox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1b1b1b;
  height: 70px;
  width: 1100px;
  align-items: center;
  margin-left: 250px;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  list-style: none;
  text-align: center;
  background-color: #1b1b1b;
  color: white;
}

.header ul li a {
  background-color: #1b1b1b;
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: row;
}

.right-section {
  flex-direction: flex;
  display: flex;
  justify-content: right;
  align-items: row;
  margin-top: 50px;
  color: white;
}
.left-section {
  flex-direction: flex;
  display: flex;
  justify-content: left;
  align-items: row;
  margin-top: 50px;
  color: white;
}

.button {
  justify-content: center;
  background-color: green;
  color: white;
  padding: 10px 30px;
  text-align: center;
  margin: 50px 20px 250px;
  box-shadow: 2px 2px 5px gray;
}

.footer {
  margin-top: 100px;
  color: white;
  margin-left: 30px;
}

.low-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.photoimg {
  display: flex;
  justify-content: left;
  align-items: left;
}
