* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

body {
}

.header {
  background-color: darkgray;
  height: 70px;
  width: 1110px;
  align-items: center;
}

.header ul {
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkgray;
  text-align: center;
  list-style: none;
}
.header ul li a {
  background-color: darkgray;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
