@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #111;
}

section {
  padding: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}

.logo {
  color: #111;
  font-weight: bold;
  font-size: 2.5em;
  text-decoration: none;
  background: white 200%;
}

header .logo span {
  color: #ff0157;
}

header .navigation {
  display: flex;
  position: relative;
  background: white 100px;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #111;
  font-weight: 300;
  font-size: 1.5em;
  transition: 0.5s;
}

.banner {
  height: 100vh;
  background: url("https://i.postimg.cc/s29LNR86/bg.jpg") no-repeat center
    center/cover;
  backdrop-filter: brightness(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: white;
}

.banner .content p {
  font-size: 1em;
  color: white;
}

.btn {
  font-size: 1.5em;
  color: white;
  background-color: #ff0157;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-top: 40px;
  display: inline-block;
}

.btn:hover {
  background-color: #e6004c;
  box-shadow: 0 0 10px #e6004c, 0 0 40px #e6004c, 0 0 80px #e6004c;
}

.about {
  padding: 80px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row .col50 {
  width: 48%;
}

.imgbx {
  width: 100%;
  min-height: 300px;
}

.imgbx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.menu {
  padding: 80px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;
}

.menu-content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px lightgrey;
}

.text {
  text-align: center;
  padding: 15px 0 5px;
}

.menu-content .box .imgbx {
  width: 100%;
  height: 300px;
}

.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.expert {
  padding: 80px;
  justify-content: center;
}

.expert .menu-content .box {
  width: 250px;
  margin: 30px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
  justify-content: center;
}

.Testimonial {
  background-size: cover;
  background: url("https://i.postimg.cc/7ZBcL6yY/testimonial-bg.jpg") no-repeat
    center center/cover;
  padding: 80px;
  justify-content: center;
  backdrop-filter: brightness(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.white {
  color: black;
}

.Testimonial .content .box {
  width: 350px;
  margin: 20px;
  padding: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Testimonial .content .box img {
  border-radius: 48%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Testimonial .content .box .imgbx {
  width: 100%;
  height: 300px;
}

.text h2 {
  margin-top: 20px;
  font-size: 1.5em;
  color: #ff0157;
  font-weight: 600;
}

.text p {
  font-style: italic;
}

.contactform {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}

.contactform h3 {
  color: #111;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
  width: 100%;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactform .inputbox input[type="submit"] {
  background: #ff0157;
  font-size: 1em;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  max-width: 100px;
  transition: 0.5s;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.contactus {
  background: url("https://i.postimg.cc/s29LNR86/bg.jpg");
  background-size: cover;
}

.footer {
  background: #ff0157;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: #fff;
  font-weight: 300;
}

.footer .icons a {
  color: #fff;
}
